src/main/resources/xsd/idoc-definitions.xsd

<?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="E1MARAM">
        <xs:sequence>
            <xs:element name="MATNR" type="xs:string"/>
            <xs:element name="MEINS" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>